@import './Styles.scss';

.app {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  
  display: grid;
  justify-items: center;
  // align-content: center;
  
  font-size: calc(16px + 2vmin);
  color: black;
}

.scoreBoard {
  position: absolute !important;
  top: 2vmin;
  right: 2vmin;

  // border: solid 1px red;
}
.ourScore {
  display: inline-block;
}
.ourScore > * {
  font-size: 5vmin !important;
}
.theirScore {
  display: inline-block;
  margin-left: 2vmin;
}
.theirScore > * {
  font-size: 5vmin !important;
}

.hold {
  position: absolute !important;
  // right: 2vmin;
  bottom: 2%;
}
