@import './Styles.scss';

.app {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  
  display: grid;
  justify-items: center;
  // align-content: center;
  
  font-size: calc(16px + 2vmin);
  color: black;
}

.hold {
  position: absolute !important;
  // right: 2vmin;
  bottom: 2%;
}
