.gmIcon {
  font-weight: bold;

  // border: solid 1px red;
}

.gm {
  font-size: 6vmin;
}

.gm > * {
  color: white;
  filter: drop-shadow(0 0 1.3vmin darkmagenta);
}

.g {
  display: inline-block;
  animation: gBob infinite 1s linear;
}

.m {
  display: inline-block;
  animation: mBob infinite 1s linear;
}

@keyframes gBob {
  0% { transform: translateY(0px); }
  25% { transform: translateY(-3px); }
  50% { transform: translateY(0px); }
  75% { transform: translateY(3px); }
  100% { transform: translateY(0px); }
}

@keyframes mBob {
  0% { transform: translateY(-3px); }
  25% { transform: translateY(0px); }
  50% { transform: translateY(3px); }
  75% { transform: translateY(0px); }
  100% { transform: translateY(-3px); }
}
