.gmIcon {
  // border: solid 1px red;
}

.gm {
  font-weight: 900;
  font-size: 6vmin;

  // border: solid 1px red;
}

.gm > * {
  color: white;
  width: 10vmin;
  filter: drop-shadow(0 0 1.3vmin darkmagenta);

  // border: solid 1px red;
}

.g {
  display: inline-block;
  position: relative;
  left: 2.5vmin;
  animation: gBob infinite 0.9s linear;
}

.m {
  display: inline-block;
  position: relative;
  right: 2.5vmin;
  animation: mBob infinite 0.9s linear;
}

@keyframes gBob {
  0% { transform: translateY(0vmin); }
  25% { transform: translateY(-0.5vmin); }
  50% { transform: translateY(0vmin); }
  75% { transform: translateY(0.5vmin); }
  100% { transform: translateY(0vmin); }
}

@keyframes mBob {
  0% { transform: translateY(-0.5vmin); }
  25% { transform: translateY(0vmin); }
  50% { transform: translateY(0.5vmin); }
  75% { transform: translateY(0vmin); }
  100% { transform: translateY(-0.5vmin); }
}
