@import './Styles.scss';

.roll {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  
  font-size: calc(16px + 2vmin);
  color: black;
}

.label {
  height: 10vmin !important;
  font-size: 8vmin !important;

  pointer-events: none;
  user-select: none;
}

.die {
  pointer-events: none;
  user-select: none;

  // border: solid 1px red;
}

.die > * {
  height: 20vmin;
  margin: 5vmin;

  vertical-align: middle;
  animation: spin infinite 20s linear;

  // border: solid 1px red;
}

.gmDie {
  height: 15vmin;
}

.gmCur {
  height: 30vmin;
}

.nums > * {
  margin: 2vmin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
