@import './Styles.scss';

.roll {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  
  font-size: calc(16px + 2vmin);
  color: black;

  // border: solid 1px red;
}

.label {
  height: 10vmin !important;
  font-size: 8vmin !important;

  pointer-events: none;
  user-select: none;
}

.dice {
  // pointer-events: none;
  user-select: none;

  // border: solid 1px red;
}

.dice > * {
  height: 20vmin;
  margin: 5vmin;
  // filter: grayscale(100%);

  vertical-align: middle;
  animation: spin infinite 60s linear;

  // border: solid 1px red;
}

.gmDie {
  height: 15vmin;
  
  // border: solid 1px red;
}

.gmCur {
  height: 30vmin;

  // border: solid 1px red;
}

// .nums {
//   border: solid 1px red;
// }

.nums > * {
  margin: 2vmin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
